h1 {
    color: midnightblue;
}

body {
    background-color: #b02a37;
    color: #dff7fb;
}

thead {
    background-color: #dff7fb;
    color: midnightblue;
}

table {
    background-color: midnightblue;
    color: #dff7fb;
}
